@import '../../shared/scss/variables.scss';

.textbook-page__games_card {
  background-color: $white;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  padding: 8px 24px 8px 16px;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.textbook-page__games_card:hover {
  box-shadow: rgba(34, 111, 212, 0.479) 0px 0px 10px;
}

@media screen and (max-width: $screen-max-width-small) {
  .textbook-page__games_card {
    gap: 5px;
    padding: 4px;
  }
}
