@import '../../shared/scss/variables.scss';

.home__developers {
  height: calc(100vh - 100px);
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__developers_title {
  font-family: Montserrat;
  font-size: 32px;
  margin-bottom: 4vh;
  text-align: center;
}

.home__developers_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 3vw;
}

.developers__card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  border-radius: 10px;
  padding: 20px;
  gap: 0 1vw;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
}

.developer__card_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.developer__card_name {
  display: flex;
  align-items: center;
  gap: 0 2vw;
}

.developer__card_work {
  margin-top: 15px;
  font-weight: 700;
}

.developer__card_characteristic {
  margin-top: 10px;
}

@media screen and (max-width: $screen-max-width-medium) {
  .home__developers_content {
    flex-direction: column;
    gap: 3vh 0;
  }
}

@media screen and (max-width: $screen-max-width-smallest) {
  .developer__card_image {
    width: 100px;
    height: 100px;
  }
}
