@import './shared/scss/variables.scss';

body {
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4vh 0;
}
